html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../images/waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
}

button {
    all: unset;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin: 2rem;
}

.form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    background-color: #fcfcfc85;
}

.form-button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 4px;
    background-color: #16396b;
    color: #f5f5f5;
    font-size: 1em;
    padding: 15px 15px;
    cursor: pointer;
}

.section-header {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-title {
    color: #16396b;
}

.articles {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.article {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    background-color: #fcfcfc;
    font-size: .83em;
}

#close_edit_mode {
    display: none;
}

.actions {
    display: flex;
    gap: 10px;
}

.action-icon {
    cursor: pointer;
}

.news-title {
    font-weight: bolder;
    color: rgb(30, 30, 126);
}

.news-description {
    color: rgb(30, 30, 126);
    margin-left: 5px;
}

.flash-message {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 4px;
    font-size: .75em;
}

.error p {
    padding: 15px 15px;
    border: 1px solid #ff7575;
    background-color: #ffcdcdd5;
    color: #ff7575;
}

.success p {
    padding: 15px 15px;
    border: 1px solid #4aa54a;
    background-color: #d5fcd695;
    color: #4aa54a;
}




